@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --darkColor: rgb(41, 37, 37);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    color: var(--darkColor);
}


.container {
    height: 100vh;
   
}

.header {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;    
}


.logo {
    font-size: 4rem;
    padding: 5rem;
}

a.logo {
    color: rgb(41, 37, 37);
    text-decoration: none;
}

.logo span{
    color: steelblue;
    font-weight: bold;
}

.navegacion {
    width: 20rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navegacion a {
    text-decoration: none;
    font-size: 1.6rem;
    color: steelblue;
}

.principal {
    
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.20) 0%,rgba(0,0,0.5) 100%),
    url("/assets/img/hero_strange.jpg");
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    color: white;
    padding: 0 0 2rem 2rem;
    
}

@media (max-width:630px){
    .header {
        height: 15vh;
        display: block;
        padding: 1rem 0 0 0;
        text-align: center;
        
    }
    .logo {
        font-size: 2rem;
        
    }

    .navegacion {
        width: 100%;
        display: block;
    }
    .navegacion a{
        padding-top: 1rem;
        display: block;
    }
    .principal {
        height: 85vh;
    }
}