@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --darkColor: rgb(41, 37, 37);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    color: var(--darkColor);
}


.container {
    height: 100vh;
   
}

.header {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;    
}


.logo {
    font-size: 4rem;
    padding: 5rem;
}

a.logo {
    color: rgb(41, 37, 37);
    text-decoration: none;
}

.logo span{
    color: steelblue;
    font-weight: bold;
}

.navegacion {
    width: 20rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navegacion a {
    text-decoration: none;
    font-size: 1.6rem;
    color: steelblue;
}

.principal {
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.20) 0%,rgba(0,0,0.5) 100%),
    url("/assets/img/hero_strange.jpg");
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    color: white;
    padding: 0 0 2rem 2rem;
    font-size: 1.8rem;
    padding-bottom: 5rem;
    
}

@media (max-width:630px){
    .header {
        height: 10vh;
        display: block;
        margin: 1rem 0;
        text-align: center;

    }
    .logo {
        display: block;
        font-size: 2rem;
        padding: 0;
        
    }
    .navegacion {
        width: 100%;
        display: block;
    }
    .navegacion a{
        margin: 1rem 0;
        display: block;
    }
    .principal {
        margin-top: 2rem;
        width: 100%;
        height: calc(100vh - 2rem - 10vh);
    }
    .principal p {
        width: 95%;
        font-size: 14px;
    }
}

/* Pagina Formulario */

.formulario {
    padding-top: 5rem;
    width: 90%;
    height: 80vh;
    margin: 0 auto;
}

.formulario__contenido {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.formulario__contenido legend {
    text-align: center;
}

.texto {
    width: 50%;
    margin: 1rem 0;
}

#enviar {
    width: 80px;
    padding: 1rem;
    margin-top: 1rem;
    background-color: steelblue;
    color: white;
    border: none;
    border-radius: 10px;
}

.footer {
    width: 100%;
    height: 10vh;
    background-color: var(--darkColor);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (max-width:630px){
    .footer {
        font-size: 11px;
    }
}