@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --darkColor: rgb(41, 37, 37);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 62.5%;
    position: relative;
}

body {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    color: var(--darkColor);
}


.container {
    height: 100vh;

}

.header {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
}


.logo {
    font-size: 4rem;
    padding: 5rem;
}

a.logo {
    color: rgb(41, 37, 37);
    text-decoration: none;
}

.logo span {
    color: steelblue;
    font-weight: bold;
}

.navegacion {
    width: 20rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navegacion a {
    text-decoration: none;
    font-size: 1.6rem;
    color: steelblue;
}

.principal {
    height: 90vh;
    background: linear-gradient(rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0.5) 100%),
        url("/assets/img/hero_strange.jpg");
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    color: white;
    padding: 0 0 2rem 2rem;
    font-size: 1.8rem;
    padding-bottom: 5rem;

}

@media (max-width:630px) {
    .header {
        height: 10vh;
        display: block;
        margin: 1rem 0;
        text-align: center;

    }

    .logo {
        display: block;
        font-size: 2rem;
        padding: 0;

    }

    .navegacion {
        width: 100%;
        display: block;
    }

    .navegacion a {
        margin: 1rem 0;
        display: block;
    }

    .principal {
        margin-top: 2rem;
        width: 100%;
        height: calc(100vh - 2rem - 10vh);
    }

    .principal p {
        width: 95%;
        font-size: 14px;
    }
}


/* Página peliculas */

/* Carrusel */

.carrusel-contenedor {
    width: 90%;
    margin: 4rem auto;
}

.contendor-titulo-controles {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 2rem;
}

.carrusel-contenedor .carrusel-principal {
    display: flex;
    align-items: center;
    position: relative;
}

.contendor-titulo-controles .indicadores button {
    background-color: black;
    height: 4px;
    width: 12px;
    cursor: pointer;
    border: none;

} 

.contendor-titulo-controles .indicadores button:hover,
.contendor-titulo-controles .indicadores button.activo {
    background-color: red;
} 

.carrusel-contenedor .carrusel-principal .izquierda,
.carrusel-contenedor .carrusel-principal .derecha {
    position: absolute;
    border: none;
    background: rgba(0, 0, 0, 0.3);
    font-size: 25px;
    height: 50%;
    top: calc(50%-25%);
    line-height: 40px;
    width: 50px;
    color: white;
    cursor: pointer;
    z-index: 500;
    transform: 0.2s ease all;
}

.carrusel-contenedor .carrusel-principal .izquierda:hover,
.carrusel-contenedor .carrusel-principal .derecha:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

.carrusel-contenedor .carrusel-principal .izquierda {
    left: 0;
}

.carrusel-contenedor .carrusel-principal .derecha {
    right: 0;
}

.contenedor-carrusel {
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
    scroll-behavior: smooth;
}

.contenedor-carrusel .carrusel {
    display: flex;
    flex-wrap: nowrap;
}

.contenedor-carrusel .carrusel .peliculas {
    min-width: 20%;
    transition: 0.3s ease all;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}

.contenedor-carrusel .carrusel .peliculas.hover{
    transform: scale(1.2);
    transform-origin: center;
}

.contenedor-carrusel .carrusel .peliculas img {
    width: 100%;
    vertical-align: top;
}


/* min32 */

/* Pagina Formulario */

.formulario {
    padding-top: 5rem;
    width: 90%;
    height: 75vh;
    margin: 0 auto;
}

.formulario__contenido {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border: none;
    overflow-y: auto;
}

.formulario__contenido legend {
    text-align: center;

}

.texto {
    width: 100%;
    margin: 1rem 0;
    border: none;
    background-color: rgb(236, 236, 236);
    height: 2rem;
    padding: 2rem;
}

#comentario {
    border: none;
    background-color: rgb(236, 236, 236);
    padding: 2rem;
}

#enviar {
    width: 80px;
    padding: 1rem;
    margin-top: 1rem;
    background-color: steelblue;
    color: white;
    border: none;
    border-radius: 10px;
}

.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 10vh;
    background-color: var(--darkColor);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (max-width:630px) {

    .formulario {

        height: 75vh;
    }

    .formulario__contenido legend {
        font-size: 14px;
    
    }


    label {
        font-size: 11px;
    }

    .texto {
        font-size: 11px;

    }

    #comentario {
        border: none;
        background-color: rgb(236, 236, 236);
        height: 9rem;
        padding: 2rem;
    }

    #enviar {
        width: 100%;
    }

    .footer {
        font-size: 11px;
        
    }
}